.full-background
h1.article-title.white-text Articles
- if logged_in?(:editor)
  center
    = link_to 'New Article', new_article_path, class: "waves-effect waves-light btn no-decoration blue lighten-1"
  br
  br
.wrapper
  #columns
    - @articles.each do |article|
      .col.s12.m6.article-index-post
        .card.blue-grey.darken-1.card-on-hover
          .card-content
            span.card-title #{article.title}
            em by #{article.user.full_name}
            br
            br
            p #{article.content}
          .card-action
            = render "edit_options", article: article
