nav class="teal lighten-3"
  .nav-wrapper
    = link_to root_path, class: "brand-logo" do
      == material_icon.cloud.md_36
      | Article Heaven

    ul id="nav-mobile" class="right hide-on-med-and-down"
      li = link_to 'Articles', articles_path
      - if !user_signed_in?
        li = link_to 'Sign Up', new_user_registration_path, class: "waves-effect waves-light btn no-decoration"
        li = link_to 'Login', user_session_path, class: "waves-effect waves-light btn no-decoration cyan"
      - if logged_in?(:admin)
        li = link_to 'Admin Dashboard', admin_users_path, class: "waves-effect waves-light btn no-decoration darken-3"
      - if user_signed_in?
        li = link_to 'Logout', destroy_user_session_path, class: "waves-effect waves-light btn no-decoration cyan", method: :delete
