.gritter-css3 {
  background: rgba(0, 0, 0, 0.1);
}

#gritter-notice-wrapper {
  top: 60px;
}

.full-background {
  position: fixed;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: asset_url('heaven.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
